.about{
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}
.about h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
.about p{
  margin-bottom: 1rem;
  line-height: 1.6;
}
.about ul{
  margin-top: 1rem;
  padding-left: 1.5rem;
}
.about li{
  margin-bottom: 0.5rem;
}