.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
}

.hero-text {
  flex: 1;
  max-width: 500px;
}

.hero-imgimg {
 
}
.hero-image{
 
  width: 250px;
  height: auto;
  border-radius: 50%;
  /*box-shadow: 0 4px 20px rgba(0,0,0,0.3);*/
}



/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-imgimg {
    width: 180px;
  }
}


